{% extends "faceapp/base_layout.html" %}
{% block title %}Khec Attendance | Contact{% endblock%}

{% block topbarTitle %}<a href="{% url 'home' %}">Dashboard</a> > Holidays{% endblock %}


{% block content %}
{% load static %}
<!-- Begin page -->
<div id="wrapper">

    <!-- ============================================================== -->
    <!-- Start Page Content here  -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">



        </div>
    </div>

</div>


{% endblock %}