{% extends "faceapp/base_layout.html" %}
{% block title %}Khec Attendance | All list{% endblock%}

{% block topbarTitle %} <a href="{% url 'home' %}">Dashboard</a> > Employees List{% endblock %}


{% block content %}
{% load static %}
<!-- Begin page -->
        <div id="wrapper">

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                        <div class="card mb-4">
                            <div class="card-body">
                                Representing the {{status}} list of staff in our organization.
                            </div>
                        </div>

                        <div class="row">
                        {% for object in sqlInactive %}

                            <div class="col-xl-4">
                                

                                <!-- Card Component -->
                                <div class="card pmd-card user-info-card">
                                    
                                    <!-- Card Header -->
                                    <div class="card-header pmd-card-border d-flex flex-row align-items-center">
                                        <a class="pmd-avatar-list-img">
                                            <img src="/media/{{object.profile.image}}" width="40" height="40" alt="Profile Image">
                                        </a>
                                        <div class="media-body">
                                            <a href="{% url 'staffDetail' object.id %}"><h3 class="card-title">{{object.profile.name}}</h3></a>
                                            <p class="card-subtitle">{{object.profile.designation}}</p>
                                        </div>
                                                    
                                    </div>

                                    <!-- List Group Component -->
                                    <ul class="list-group pmd-list">
                                        <li class="list-group-item d-flex flex-row">
                                            <i class="material-icons pmd-list-icon align-self-center pmd-md md-dark">person_outline</i>
                                            <div class="media-body">
                                                <label class="pmd-list-subtitle">Employee ID</label>
                                                <p class="pmd-list-title">{{object.profile.username}}</p>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex flex-row">
                                            <i class="material-icons pmd-list-icon align-self-center pmd-md md-dark">call</i>
                                            <div class="media-body">
                                                <label class="pmd-list-subtitle mb-0">Phone No.</label>
                                                <p class="pmd-list-title">{{object.profile.contact}}</p>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex flex-row">
                                            <i class="material-icons pmd-list-icon align-self-center pmd-md md-dark">mail_outline</i>
                                            <div class="media-body">
                                                <label class="pmd-list-subtitle">Email Address</label>
                                                <p class="pmd-list-title"><a href="mailto:darlene@xyz.com">{{object.profile.email}}</a>
                                                </p>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex flex-row">
                                            <i class="material-icons pmd-list-icon align-self-center pmd-md md-dark">accessibility</i>
                                            <div class="media-body">
                                                <label class="pmd-list-subtitle">Status</label>
                                                    <p class="pmd-list-title">
                                                    {% if object.profile.active == True %}
                                                        <span class="badge badge-pill badge-secondary">Active</span>
                                                    {%  else %}
                                                        <span class="badge badge-pill badge-danger">Inactive</span>
                                                    {% endif %}
                                                    </p>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex flex-row">
                                            <i class="material-icons pmd-list-icon align-self-center pmd-md md-dark">today</i>
                                            <div class="media-body">
                                                <label class="pmd-list-subtitle">Date of Joining</label>
                                                <p class="pmd-list-title">{{object.profile.dateOfJoin}}</p>
                                            </div>
                                        </li>
                                    </ul><!-- List Group Component End -->

                                    <!-- Card Footer -->
                                    <div class="card-footer pmd-card-border">
                                        <a title="View More" href="{% url 'staffDetail' object.id %}" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">View More</a>
                                    </div>
                                </div>
                                <!-- Card Component End -->

                            </div> <!-- end col -->
              
                        {% endfor %}
                        </div>
                        <!-- end row -->
                        
                    </div> <!-- container-fluid -->

                </div> <!-- content -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->

        </div>
        <!-- END wrapper -->

{% endblock %}