{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	 <meta content="A fully featured admin theme for KhEC Attendance system." name="description" />

     <meta content="CODEBREATHERS" name="hukka" />

	<title>Khec Attendance</title>

	<!-- Mobile Specific Meta
		================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS
		================================================== -->
	<!-- bootstrap.min 5 css -->
    <link href="{% static 'faceapp/assets/css/bootstrap.min.css' %}" id="bootstrap-stylesheet" rel="stylesheet" type="text/css" />
	<!-- Main Stylesheet -->
	<link rel="stylesheet" href="{% static 'faceapp/assets/css/style.css' %}">


</head>

<body id="body" data-spy="scroll" data-target=".navbar" data-offset="50">
	<!--
	    Start Preloader
	    ==================================== -->
	<div class="preloader">
		<div class="sk-cube-grid">
			<div class="sk-cube sk-cube1"></div>
			<div class="sk-cube sk-cube2"></div>
			<div class="sk-cube sk-cube3"></div>
			<div class="sk-cube sk-cube4"></div>
			<div class="sk-cube sk-cube5"></div>
			<div class="sk-cube sk-cube6"></div>
			<div class="sk-cube sk-cube7"></div>
			<div class="sk-cube sk-cube8"></div>
			<div class="sk-cube sk-cube9"></div>
		</div>
	</div>
	<!-- End Preloader
        ==================================== -->

 <!--
Welcome Slider
==================================== -->

<section class="hero-area overlay" style="background-image: url({% static 'faceapp/images/banner/khec.jpg' %});">
	<!-- <video autoplay muted loop class="hero-video">
		<source src="images/banner/hero-video.mp4" type="video/mp4">
	</video> -->
	<div class="block">
		<a href="https://www.khec.edu.np/" class="logo">
            <img src="{% static 'faceapp/images/icons/khec.png' %}" alt="" height="90" class="logo-dark mx-auto">
        </a>
		<h1>Experience the new reality</h1>
		<p>Welcome to KhEC Facial Attendance System.</p>
		<a href="{% url 'login' %}" class="btn btn-transparent">Lets Explore</a>
	</div>
</section>

		<!-- 
		Essential Scripts
		=====================================-->
		
		<!-- Main jQuery -->
		<script src="{% static 'faceapp/assets/js/vendor.min.js' %}"></script>
		
		<!-- Custom js -->
		<script type="text/javascript" src="{% static 'faceapp/assets/js/script.js' %}"></script>
		
    </body>
</html>