{% extends "faceapp/base_layout.html" %}
{% block title %}Khec Attendance | Contact{% endblock%}

{% block topbarTitle %}<a href="{% url 'home' %}">Dashboard</a> > Leave{% endblock %}


{% block content %}
{% load static %}
<!-- Begin page -->
<div id="wrapper">

    <!-- ============================================================== -->
    <!-- Start Page Content here  -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!--content area start-->
            <div id="content" class="pmd-content inner-page admin">

                <!-- Title -->
                <h1 id="leave">Leave</h1>
                <!-- End Title -->
                <!--breadcrum start-->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb pmd-breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a href="dashboard.html">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Leave</li>
                    </ol>
                </nav>
                <!--breadcrum end-->

                <section class="component-section" id="employee">
                    <table class="table pmd-table table-hover pmd-table-card">
                        <thead class="thead-light">
                            <tr>
                                <th>Employee</th>
                                <th>Leave Type</th>
                                <th>Half Day</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Reason</th>
                                <th>No of Leave</th>
                                <th>Paid / Unpaid</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-title="Employee">Tarah L. Faulkner</td>
                                <td data-title="Leave Type">Casual Leave</td>
                                <td data-title="Half Day">No</td>
                                <td data-title="Start Date">1<sup>st</sup> September, 2018</td>
                                <td data-title="End Date">3<sup>rd</sup> September, 2018</td>
                                <td data-title="Reason">Attend Cousin's Wedding</td>
                                <td data-title="No of Leave">3</td>
                                <td data-title="Paid / Unpaid">Paid</td>
                                <td data-title="Status">Pending</td>
                                <td data-title="">
                                    <a href="javascript:void(0);" title="Accept"
                                        class="pmd-btn-fab btn-xs btn-outline-secondary btn mr-2 pmd-ripple-effect">
                                        <i class="material-icons">done</i>
                                    </a>
                                    <a href="javascript:void(0);" title="Reject"
                                        class="pmd-btn-fab btn-xs btn-outline-danger btn pmd-ripple-effect"
                                        data-toggle="modal" data-target="#reject-modal">
                                        <i class="material-icons">close</i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td data-title="Employee">James L. Faulkner</td>
                                <td data-title="Leave Type">Sick Leave</td>
                                <td data-title="Half Day">No</td>
                                <td data-title="Start Date">1<sup>st</sup> September, 2018</td>
                                <td data-title="End Date">3<sup>rd</sup> September, 2018</td>
                                <td data-title="Reason">Having Fever</td>
                                <td data-title="No of Leave">3</td>
                                <td data-title="Paid / Unpaid">Paid</td>
                                <td data-title="Status">Approved</td>
                                <td data-title=""></td>
                            </tr>
                            <tr>
                                <td data-title="Employee">Maria James</td>
                                <td data-title="Leave Type">Casual Leave</td>
                                <td data-title="Half Day">No</td>
                                <td data-title="Start Date">1<sup>st</sup> November, 2018</td>
                                <td data-title="End Date">3<sup>rd</sup> November, 2018</td>
                                <td data-title="Reason">Vacation with Family</td>
                                <td data-title="No of Leave">3</td>
                                <td data-title="Paid / Unpaid">Paid</td>
                                <td data-title="Status">Cancelled</td>
                                <td data-title="">
                                </td>
                            </tr>
                            <tr>
                                <td data-title="Employee">Julia Warne</td>
                                <td data-title="Leave Type">Sick Leave</td>
                                <td data-title="Half Day">Yes</td>
                                <td data-title="Start Date">1<sup>st</sup> December, 2018</td>
                                <td data-title="End Date">1<sup>st</sup> December, 2018</td>
                                <td data-title="Reason">Not feeling well</td>
                                <td data-title="No of Leave">0.5</td>
                                <td data-title="Paid / Unpaid">Paid</td>
                                <td data-title="Status">Pending</td>
                                <td data-title="">
                                    <a href="javascript:void(0);" title="Accept"
                                        class="pmd-btn-fab btn-xs btn-outline-secondary btn mr-2 pmd-ripple-effect">
                                        <i class="material-icons">done</i>
                                    </a>
                                    <a href="javascript:void(0);" title="Reject"
                                        class="pmd-btn-fab btn-xs btn-outline-danger btn pmd-ripple-effect"
                                        data-toggle="modal" data-target="#reject-modal">
                                        <i class="material-icons">close</i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td data-title="Employee">James Jhonathan</td>
                                <td data-title="Leave Type">Casual Leave</td>
                                <td data-title="Half Day">No</td>
                                <td data-title="Start Date">1<sup>st</sup> November, 2018</td>
                                <td data-title="End Date">3<sup>rd</sup> November, 2018</td>
                                <td data-title="Reason">Vacation with Family</td>
                                <td data-title="No of Leave">3</td>
                                <td data-title="Paid / Unpaid">Paid</td>
                                <td data-title="Status">Unapproved</td>
                                <td data-title="">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
            <!-- content area end -->

        </div>
    </div>

</div>


{% endblock %}