{% extends "user/base_layout.html" %}
{% load static %}

{% block bodyTemplate %}
<!-- Application container -->
    <div class="container-fluid container-application">
        <!-- Sidenav -->
        <div class="sidenav" id="sidenav-main">
            <!-- Sidenav header -->
            <div class="sidenav-header d-flex align-items-center">
                <a class="navbar-brand" href="#">
                    <h3 style="color: white;"> <span style="color: red;"> KhEC </span>Attendance</h3>
                </a>
                <div class="ml-auto">
                    <!-- Sidenav toggler -->
                    <div class="sidenav-toggler sidenav-toggler-dark d-md-none" data-action="sidenav-unpin"
                        data-target="#sidenav-main">
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line bg-white"></i>
                            <i class="sidenav-toggler-line bg-white"></i>
                            <i class="sidenav-toggler-line bg-white"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- User mini profile -->
            <div class="sidenav-user d-flex flex-column align-items-center justify-content-between text-center">
                

                <!-- dynamic part are transfered in rendering page -->

                <!-- Avatar -->
                <div>
                    <a href="#" class="avatar rounded-circle avatar-xl">
                        <img alt="Image placeholder" src="/media/{{userSql.profile.image}}" class="">
                    </a>
                    <div class="mt-4">
                        <h5 class="mb-0 text-white">{{userSql.profile.name}}</h5>
                            <span class="d-block text-sm text-white opacity-8 mb-3">{{userSql.profile.desgination}}</span>
                            <a href="#" class="btn btn-sm btn-white btn-icon rounded-pill shadow hover-translate-y-n3">
                                <span class="btn-inner--icon"><i class="fa fa-coins"></i></span>
                                <span class="btn-inner--text">
                                {% if userSql.profile.active %}
                            		Active
                            	{% else %}
                            		Inactive
                            	{% endif %}
                            	</span>
                            </a>
                    </div>
                </div>

                <!-- User info -->
                <!-- Actions -->
                <div class="w-100 mt-4 actions d-flex justify-content-between">
                    <a href="#" class="action-item action-item-lg text-white pl-0">
                        <i class="far fa-user"></i>
                    </a>
                    <a href="#" class="action-item action-item-lg text-white" data-toggle="modal">
                        <i class="far fa-comment-alt"></i>
                    </a>
                    <a href="#" class="action-item action-item-lg text-white pr-0">
                        <i class="fa fa-receipt"></i>
                    </a>
                </div>
            </div>
            <!-- Application nav -->
            <div class="nav-application clearfix">
                <a href="{% url 'userDash' %}" class="btn btn-square text-sm {% block nav-home %}{% endblock nav-home %}">
                    <span class="btn-inner--icon d-block"><i class="fa fa-home fa-2x"></i></span>
                    <span class="btn-inner--icon d-block pt-2">Home</span>
                </a>
                <a href="{% url 'userProfile' %}"
                    class="btn btn-square text-sm {% block nav-profile %}{% endblock nav-profile %}">
                    <span class="btn-inner--icon d-block"><i class="fa fa-user-ninja fa-2x"></i></span>
                    <span class="btn-inner--icon d-block pt-2">Profile</span>
                </a>
                <a href="#" class="btn btn-square text-sm">
                    <span class="btn-inner--icon d-block"><i class="fa fa-tasks fa-2x"></i></span>
                    <span class="btn-inner--icon d-block pt-2">Holiday</span>
                </a>
                <a href="{% url 'userDash' %}"
                    class="btn btn-square text-sm {% block nav-dash %}{% endblock nav-dash %}">
                    <span class="btn-inner--icon d-block"><i class="fa fa-columns fa-2x"></i></span>
                    <span class="btn-inner--icon d-block pt-2">Leave</span>
                </a>
                <a href="#" class="btn btn-square text-sm">
                    <span class="btn-inner--icon d-block"><i class="fa fa-users-cog fa-2x"></i></span>
                    <span class="btn-inner--icon d-block pt-2">Inbox</span>
                </a>
                <a href="#" class="btn btn-square text-sm">
                    <span class="btn-inner--icon d-block"><i class="fa fa-user-ninja fa-2x"></i></span>
                    <span class="btn-inner--icon d-block pt-2">To Do</span>
                </a>
                <a href="#" class="btn btn-square text-sm">
                    <span class="btn-inner--icon d-block"><i class="fa fa-receipt fa-2x"></i></span>
                    <span class="btn-inner--icon d-block pt-2">Invoices</span>
                </a>
                <a href="#" class="btn btn-square text-sm">
                    <span class="btn-inner--icon d-block"><i class="fa fa-cogs fa-2x"></i></span>
                    <span class="btn-inner--icon d-block pt-2">Settings</span>
                </a>
            </div>
            <!-- Misc area -->
        </div>
        <!-- Content -->
        <div class="main-content position-relative">
            <!-- Main nav -->
            <nav class="navbar navbar-main navbar-expand-lg navbar-dark bg-primary navbar-border" id="navbar-main">
                <div class="container-fluid">
                    <!-- Brand + Toggler (for mobile devices) -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Navbar nav -->
                    <div class="collapse navbar-collapse navbar-collapse-fade" id="navbar-main-collapse">
                        <ul class="navbar-nav align-items-lg-center">
                            <!-- Overview  -->

                            <li class="border-top opacity-2 my-2"></li>
                            <!-- Home  -->
                            <li class="nav-item ">
                                <a class="nav-link pl-lg-0" href="{% url 'userDash' %}">
                                    Home
                                </a>
                            </li>
                            <!-- Application menu -->
                            <li class="nav-item ">
                                <a class="nav-link " href="{% url 'userProfile' %}">
                                    Profile
                                </a>

                            </li>

                            <li class="border-top opacity-2 my-2"></li>
                            <!-- Docs menu -->
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Attendance
                                </a>
                            </li>
                        </ul>

                        <!-- Right menu -->
                        <ul class="navbar-nav ml-lg-auto align-items-center d-none d-lg-flex">
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-link-icon sidenav-toggler" data-action="sidenav-pin"
                                    data-target="#sidenav-main"><i class="fa fa-bars"></i></a>
                            </li>
                            <li class="nav-item dropdown dropdown-animate">
                                <a class="nav-link pr-lg-0" href="#" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <div class="media media-pill align-items-center">

                                        <div class="ml-2 d-none d-lg-block">
                                            <span class="mb-0 text-sm  font-weight-bold">My Account</span>
                                        </div>
                                    </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right dropdown-menu-arrow">
                                    <h6 class="dropdown-header px-0">Hi, {{userSql.profile.name}}!</h6>
                                    <a href="{% url 'userProfile' %}" class="dropdown-item">
                                        <i class="far fa-user"></i>
                                        <span>My profile</span>
                                    </a>
                                    <a href="#!" class="dropdown-item">
                                        <i class="fa fa-cog"></i>
                                        <span>Settings</span>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a href="{% url 'logout' %}" class="dropdown-item">
                                        <i class="fa fa-sign-out-alt"></i>
                                        <span>Logout</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content -->
            <div class="page-content">
                <!-- Page title -->
                <div class="page-title">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <h5 class="h3 font-weight-400 mb-0 text-white">Greetings, {{userSql.profile.name}}!</h5>
                            <span class="text-sm text-white opacity-8">Have a nice day!</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12 col-md-12">

                        <div class="card card-fluid card-body shadow p-3 mb-5 bg-white rounded">

                            <!-- Block Content Here-->
                            {% block content %}
                            sunder tamakhue
                            {% endblock %}

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

{% endblock bodyTemplate %}


