{% extends "user/base_layout.html" %}

{% block nav-profile %}
active
{% endblock nav-profile %}

{% block content %}
{% load static %}

<!--content area start-->
<div id="content" class="pmd-content inner-page profile-page">
    <div class="cover-content">
        <div class="page-content">
            <div class="d-flex d-flex-row align-items-center mobile-view">

                <div class="media-body">
                    <h1 class="card-title media-body">Marie Meyer</h1>
                    <p class="pmd-list-subtitle">UI/UX Designer</p>
                    <p>Amorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                        vitae nibh nisl. Cras
                        etitikis mauris eget lorem ultricies ferme ntum a inti diam.
                        Amorem ipsum dolor sit
                        amet, consectetur adipiscing elit. Cras vitae nibh nisl. Cras
                        etitikis mauris eget
                        lorem ultricies ferme ntum a inti diam.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="page-content profile-view">
        <div class="row col-12">

            <div class="pmd-tabs">
                <div class="pmd-tab-active-bar" style="width: 97.9531px; left: 0px;"></div>
                <ul class="nav nav-tabs" role="tablist" style="width: 343.813px;">
                    <li class="nav-item"><a class="nav-link active" href="#about" aria-controls="about" role="tab"
                            data-toggle="tab">About</a></li>
                </ul>
            </div>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- About Tab -->
                <div role="tabpanel" class="tab-pane active" id="about">

                    <div class="card-body shadow p-3 mb-5 bg-white rounded">

                        <!-- Basic Information -->
                        <div class="details-tab">
                            <div class="d-flex flex-row align-items-center mb-2">
                                <h3 class="card-title media-body">Basic
                                    Information</h3>

                            </div>
                            <div class="row view-basic-card">
                                <div class="col-12 col-md-6 col-lg-3">
                                    <label class="pmd-list-subtitle">First
                                        Name</label>
                                    <p class="pmd-list-title">Marie</p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <label class="pmd-list-subtitle">Last
                                        Name</label>
                                    <p class="pmd-list-title">Meyer</p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <label class="pmd-list-subtitle">Middle
                                        Name</label>
                                    <p class="pmd-list-title">Maynard</p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <label class="pmd-list-subtitle">Phone</label>
                                    <p class="pmd-list-title"><a href="tel:+91 98250 98250" title="+91 98250 98250">+91
                                            98250
                                            98250</a></p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <label class="pmd-list-subtitle">Personal
                                        Email</label>
                                    <p class="pmd-list-title"><a href="mailto:marie@gmail.com"
                                            title="marie@xyz.com">marie@gmail.com</a>
                                    </p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <label class="pmd-list-subtitle">Date of
                                        Birth</label>
                                    <p class="pmd-list-title">16<sup>th</sup>
                                        June 1991</p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <label class="pmd-list-subtitle">Gender</label>
                                    <p class="pmd-list-title">Female</p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <label class="pmd-list-subtitle">Marital
                                        Status</label>
                                    <p class="pmd-list-title">Unmarried</p>
                                </div>
                            </div>

                        </div>

                        <!-- Employee Information -->
                        <div class="details-tab">
                            <div class="d-flex flex-row align-items-center mb-2">
                                <h3 class="card-title media-body">Employee
                                    Information</h3>

                            </div>
                            <!-- View Card -->
                            <div class="row view-employee-card">
                                <div class="col-12 col-md-6 col-lg-3">
                                    <label class="pmd-list-subtitle">Employee
                                        Enrollment ID</label>
                                    <p class="pmd-list-title">XYZ - 1111</p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <label class="pmd-list-subtitle">Date of
                                        Joining</label>
                                    <p class="pmd-list-title">16<sup>th</sup>
                                        July 2017</p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <label class="pmd-list-subtitle">Company
                                        Email</label>
                                    <p class="pmd-list-title"><a href="mailto:marie@xyz.com"
                                            title="marie@xyz.com">marie@xyz.com</a>
                                    </p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <label class="pmd-list-subtitle">Department</label>
                                    <p class="pmd-list-title">Design</p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <label class="pmd-list-subtitle">Designation</label>
                                    <p class="pmd-list-title">UI / UX Designer
                                    </p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <label class="pmd-list-subtitle">Reporting
                                        Employee</label>
                                    <p class="pmd-list-title">Darlene C. Larsen
                                    </p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <label class="pmd-list-subtitle">Type of
                                        Employee</label>
                                    <p class="pmd-list-title">Full Time</p>
                                </div>
                            </div>

                        </div>

                        <!-- Contact Information -->
                        <div class="details-tab">
                            <!-- View Card -->
                            <div class="d-flex flex-row align-items-center mb-2">
                                <h3 class="card-title media-body">Contact
                                    Information</h3>

                            </div>
                            <div class="row view-contact-card">
                                <div class="col-12 col-md-6 col-lg-3">
                                    <label class="pmd-list-subtitle">Address
                                        Line 1</label>
                                    <p class="pmd-list-title">2654 Kooter Lane
                                    </p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <label class="pmd-list-subtitle">Address
                                        Line 2</label>
                                    <p class="pmd-list-title">Pieter
                                        Feddesstraat 90</p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <label class="pmd-list-subtitle">City</label>
                                    <p class="pmd-list-title">San Antonio</p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <label class="pmd-list-subtitle">State</label>
                                    <p class="pmd-list-title">Texas</p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <label class="pmd-list-subtitle">Zip
                                        Code</label>
                                    <p class="pmd-list-title">78209</p>
                                </div>
                                <div class="col-12 col-md-6 col-lg-3">
                                    <label class="pmd-list-subtitle">Country</label>
                                    <p class="pmd-list-title">United States</p>
                                </div>
                            </div>

                        </div>

                        <!-- Education Information -->
                        <div class="details-tab mt-4">
                            <h3 class="card-title pt-2 pb-3">Education</h3>
                            <!-- View Education Details -->
                            <div class="row no-gutters card-row">
                                <div class="col-lg-6">
                                    <div class="media media-card">
                                        <i class="material-icons pmd-icon-lg md-dark mr-md-3 mr-sm-0">
                                            <svg x="0px" y="0px" viewBox="164 164 72 72"
                                                enable-background="new 164 164 72 72" xml:space="preserve">
                                                <g>
                                                    <path
                                                        d="M229.152,194.031v-9.361l-28.862-16.544l-28.862,16.544v9.361h4.644v27.937h-5.224v10.158h58.159v-10.158h-4.426v-27.937
                                                                    H229.152z M226.104,224.87v4.354H173.75v-4.354H226.104z M179.057,221.968v-27.937h8.127v27.937H179.057z M190.39,221.968v-27.937
                                                                    h8.127v27.937H190.39z M201.864,221.968v-27.937h8.127v27.937H201.864z M213.56,221.968v-27.937h8.127v27.937H213.56z
                                                                    M174.331,191.128v-4.644l25.959-15.093l25.958,15.093v4.644H174.331z" />
                                                    <path
                                                        d="M200.291,177.342c-2.846,0-5.152,2.307-5.152,5.152c0,2.846,2.306,5.152,5.152,5.152c2.845,0,5.152-2.306,5.152-5.152
                                                                    C205.442,179.648,203.136,177.342,200.291,177.342z M200.291,184.743c-1.243,0-2.25-1.007-2.25-2.25c0-1.243,1.007-2.25,2.25-2.25
                                                                    s2.25,1.007,2.25,2.25C202.54,183.736,201.533,184.743,200.291,184.743z" />
                                                </g>
                                            </svg>
                                        </i>
                                        <div class="media-body">
                                            <h4 class="media-title">Indus
                                                University</h4>
                                            <p class="card-subtitle">2004 - 2008
                                            </p>
                                            <p>Bachelor of Engineering, Computer
                                                Engineering, 7.74
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="media media-card">
                                        <i class="material-icons pmd-icon-lg md-dark mr-md-3 mr-sm-0">
                                            <svg x="0px" y="0px" viewBox="164 164 72 72"
                                                enable-background="new 164 164 72 72" xml:space="preserve">
                                                <g>
                                                    <path
                                                        d="M229.152,194.031v-9.361l-28.862-16.544l-28.862,16.544v9.361h4.644v27.937h-5.224v10.158h58.159v-10.158h-4.426v-27.937
                                                                    H229.152z M226.104,224.87v4.354H173.75v-4.354H226.104z M179.057,221.968v-27.937h8.127v27.937H179.057z M190.39,221.968v-27.937
                                                                    h8.127v27.937H190.39z M201.864,221.968v-27.937h8.127v27.937H201.864z M213.56,221.968v-27.937h8.127v27.937H213.56z
                                                                    M174.331,191.128v-4.644l25.959-15.093l25.958,15.093v4.644H174.331z" />
                                                    <path
                                                        d="M200.291,177.342c-2.846,0-5.152,2.307-5.152,5.152c0,2.846,2.306,5.152,5.152,5.152c2.845,0,5.152-2.306,5.152-5.152
                                                                    C205.442,179.648,203.136,177.342,200.291,177.342z M200.291,184.743c-1.243,0-2.25-1.007-2.25-2.25c0-1.243,1.007-2.25,2.25-2.25
                                                                    s2.25,1.007,2.25,2.25C202.54,183.736,201.533,184.743,200.291,184.743z" />
                                                </g>
                                            </svg>
                                        </i>
                                        <div class="media-body">
                                            <h4 class="media-title">Indus
                                                University</h4>
                                            <p class="card-subtitle">2008 - 2010
                                            </p>
                                            <p>Masters of Engineering, Computer
                                                Engineering, 7.74
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="media media-card">
                                        <i class="material-icons pmd-icon-lg md-dark mr-md-3 mr-sm-0">
                                            <svg x="0px" y="0px" viewBox="164 164 72 72"
                                                enable-background="new 164 164 72 72" xml:space="preserve">
                                                <g>
                                                    <path
                                                        d="M229.152,194.031v-9.361l-28.862-16.544l-28.862,16.544v9.361h4.644v27.937h-5.224v10.158h58.159v-10.158h-4.426v-27.937
                                                                    H229.152z M226.104,224.87v4.354H173.75v-4.354H226.104z M179.057,221.968v-27.937h8.127v27.937H179.057z M190.39,221.968v-27.937
                                                                    h8.127v27.937H190.39z M201.864,221.968v-27.937h8.127v27.937H201.864z M213.56,221.968v-27.937h8.127v27.937H213.56z
                                                                    M174.331,191.128v-4.644l25.959-15.093l25.958,15.093v4.644H174.331z" />
                                                    <path
                                                        d="M200.291,177.342c-2.846,0-5.152,2.307-5.152,5.152c0,2.846,2.306,5.152,5.152,5.152c2.845,0,5.152-2.306,5.152-5.152
                                                                    C205.442,179.648,203.136,177.342,200.291,177.342z M200.291,184.743c-1.243,0-2.25-1.007-2.25-2.25c0-1.243,1.007-2.25,2.25-2.25
                                                                    s2.25,1.007,2.25,2.25C202.54,183.736,201.533,184.743,200.291,184.743z" />
                                                </g>
                                            </svg>
                                        </i>
                                        <div class="media-body">
                                            <h4 class="media-title">University
                                                of Pennsylvania</h4>
                                            <p class="card-subtitle">2010 - 2012
                                            </p>
                                            <p>Ph.D, Artificial Intelligence,
                                                8.5</p>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>

                        <!-- Experience Information -->
                        <div class="details-tab mt-4">
                            <h3 class="card-title pt-2 pb-3">Experience</h3>
                            <div class="row no-gutters card-row">
                                <div class="col-lg-6">
                                    <div class="media media-card">
                                        <i class="material-icons pmd-icon-lg md-dark mr-md-3 mr-sm-0">
                                            <svg version="1.1" x="0px" y="0px" viewBox="164 164 72 72"
                                                enable-background="new 164 164 72 72" xml:space="preserve">
                                                <path d="M227.199,187.72H202.72V173.8c0-2.56-2.08-4.8-4.8-4.8H172.8c-2.72,0-4.8,2.24-4.8,4.8v54.4c0,2.72,2.08,4.8,4.8,4.8h54.399
                                                                    c2.721,0,4.801-2.08,4.801-4.8v-35.68C232,189.8,229.92,187.72,227.199,187.72z M178.08,229.8v-9.12c0-0.799,0.64-1.6,1.6-1.6h4
                                                                    v10.72H178.08z M192.48,229.8h-5.6v-10.72h4c0.96,0,1.6,0.801,1.6,1.6V229.8z M199.52,229.8h-3.68v-9.12
                                                                    c0-2.72-2.08-4.799-4.8-4.799h-11.2c-2.72,0-4.8,2.079-4.8,4.799v9.12h-2.24c-0.8,0-1.6-0.64-1.6-1.6v-54.4c0-0.96,0.8-1.6,1.6-1.6
                                                                    h25.12c0.8,0,1.6,0.64,1.6,1.6V229.8z M228.8,228.2c0,0.96-0.8,1.6-1.601,1.6H202.72v-38.88h24.479c0.801,0,1.601,0.8,1.601,1.601
                                                                    V228.2z" />
                                                <g>
                                                    <path d="M194.08,179.88h-17.6c-0.96,0-1.6-0.64-1.6-1.6s0.64-1.6,1.6-1.6h17.6c0.96,0,1.6,0.64,1.6,1.6
                                                                        S195.04,179.88,194.08,179.88z" />
                                                </g>
                                                <g>
                                                    <path d="M194.08,187.88h-17.6c-0.96,0-1.6-0.64-1.6-1.6s0.64-1.6,1.6-1.6h17.6c0.96,0,1.6,0.64,1.6,1.6
                                                                        S195.04,187.88,194.08,187.88z" />
                                                </g>
                                                <g>
                                                    <path d="M194.08,195.88h-17.6c-0.96,0-1.6-0.64-1.6-1.6s0.64-1.6,1.6-1.6h17.6c0.96,0,1.6,0.64,1.6,1.6
                                                                        S195.04,195.88,194.08,195.88z" />
                                                </g>
                                                <g>
                                                    <path
                                                        d="M194.08,203.881h-17.6c-0.96,0-1.6-0.641-1.6-1.601s0.64-1.601,1.6-1.601h17.6c0.96,0,1.6,0.641,1.6,1.601S195.04,203.881,194.08,203.881z" />
                                                </g>
                                                <g>
                                                    <path d="M224.48,199.08H206.88c-0.96,0-1.601-0.64-1.601-1.6s0.641-1.6,1.601-1.6h17.601c0.96,0,1.6,0.64,1.6,1.6
                                                                        S225.44,199.08,224.48,199.08z" />
                                                </g>
                                                <g>
                                                    <path
                                                        d="M224.48,207.08H206.88c-0.96,0-1.601-0.641-1.601-1.6c0-0.961,0.641-1.6,1.601-1.6h17.601c0.96,0,1.6,0.639,1.6,1.6
                                                                        C226.08,206.439,225.44,207.08,224.48,207.08z" />
                                                </g>
                                                <g>
                                                    <path
                                                        d="M224.48,215.08H206.88c-0.96,0-1.601-0.641-1.601-1.6c0-0.961,0.641-1.6,1.601-1.6h17.601c0.96,0,1.6,0.639,1.6,1.6
                                                                        C226.08,214.439,225.44,215.08,224.48,215.08z" />
                                                </g>
                                            </svg>
                                        </i>
                                        <div class="media-body">
                                            <h4 class="media-title">UI/UX
                                                Designer, Facebook</h4>
                                            <p class="mb-1">7<sup>th</sup>Aug
                                                2012 to
                                                3<sup>rd</sup>Aug 2014, $25/hr
                                                to $30/hr</p>
                                            <p>For better opportunities</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="media media-card">
                                        <i class="material-icons pmd-icon-lg md-dark mr-md-3 mr-sm-0">
                                            <svg version="1.1" x="0px" y="0px" viewBox="164 164 72 72"
                                                enable-background="new 164 164 72 72" xml:space="preserve">
                                                <path d="M227.199,187.72H202.72V173.8c0-2.56-2.08-4.8-4.8-4.8H172.8c-2.72,0-4.8,2.24-4.8,4.8v54.4c0,2.72,2.08,4.8,4.8,4.8h54.399
                                                                    c2.721,0,4.801-2.08,4.801-4.8v-35.68C232,189.8,229.92,187.72,227.199,187.72z M178.08,229.8v-9.12c0-0.799,0.64-1.6,1.6-1.6h4
                                                                    v10.72H178.08z M192.48,229.8h-5.6v-10.72h4c0.96,0,1.6,0.801,1.6,1.6V229.8z M199.52,229.8h-3.68v-9.12
                                                                    c0-2.72-2.08-4.799-4.8-4.799h-11.2c-2.72,0-4.8,2.079-4.8,4.799v9.12h-2.24c-0.8,0-1.6-0.64-1.6-1.6v-54.4c0-0.96,0.8-1.6,1.6-1.6
                                                                    h25.12c0.8,0,1.6,0.64,1.6,1.6V229.8z M228.8,228.2c0,0.96-0.8,1.6-1.601,1.6H202.72v-38.88h24.479c0.801,0,1.601,0.8,1.601,1.601
                                                                    V228.2z" />
                                                <g>
                                                    <path d="M194.08,179.88h-17.6c-0.96,0-1.6-0.64-1.6-1.6s0.64-1.6,1.6-1.6h17.6c0.96,0,1.6,0.64,1.6,1.6
                                                                        S195.04,179.88,194.08,179.88z" />
                                                </g>
                                                <g>
                                                    <path d="M194.08,187.88h-17.6c-0.96,0-1.6-0.64-1.6-1.6s0.64-1.6,1.6-1.6h17.6c0.96,0,1.6,0.64,1.6,1.6
                                                                        S195.04,187.88,194.08,187.88z" />
                                                </g>
                                                <g>
                                                    <path d="M194.08,195.88h-17.6c-0.96,0-1.6-0.64-1.6-1.6s0.64-1.6,1.6-1.6h17.6c0.96,0,1.6,0.64,1.6,1.6
                                                                        S195.04,195.88,194.08,195.88z" />
                                                </g>
                                                <g>
                                                    <path
                                                        d="M194.08,203.881h-17.6c-0.96,0-1.6-0.641-1.6-1.601s0.64-1.601,1.6-1.601h17.6c0.96,0,1.6,0.641,1.6,1.601S195.04,203.881,194.08,203.881z" />
                                                </g>
                                                <g>
                                                    <path d="M224.48,199.08H206.88c-0.96,0-1.601-0.64-1.601-1.6s0.641-1.6,1.601-1.6h17.601c0.96,0,1.6,0.64,1.6,1.6
                                                                        S225.44,199.08,224.48,199.08z" />
                                                </g>
                                                <g>
                                                    <path
                                                        d="M224.48,207.08H206.88c-0.96,0-1.601-0.641-1.601-1.6c0-0.961,0.641-1.6,1.601-1.6h17.601c0.96,0,1.6,0.639,1.6,1.6
                                                                        C226.08,206.439,225.44,207.08,224.48,207.08z" />
                                                </g>
                                                <g>
                                                    <path
                                                        d="M224.48,215.08H206.88c-0.96,0-1.601-0.641-1.601-1.6c0-0.961,0.641-1.6,1.601-1.6h17.601c0.96,0,1.6,0.639,1.6,1.6
                                                                        C226.08,214.439,225.44,215.08,224.48,215.08z" />
                                                </g>
                                            </svg>
                                        </i>
                                        <div class="media-body">
                                            <h4 class="media-title">UI/UX
                                                Designer, Adobe</h4>
                                            <p class="mb-1">7<sup>th</sup>Jan
                                                2015 to
                                                3<sup>rd</sup>Aug 2017, $35/hr
                                                to $45/hr</p>
                                            <p>For better opportunities</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="media media-card">
                                        <i class="material-icons pmd-icon-lg md-dark mr-md-3 mr-sm-0">
                                            <svg version="1.1" x="0px" y="0px" viewBox="164 164 72 72"
                                                enable-background="new 164 164 72 72" xml:space="preserve">
                                                <path d="M227.199,187.72H202.72V173.8c0-2.56-2.08-4.8-4.8-4.8H172.8c-2.72,0-4.8,2.24-4.8,4.8v54.4c0,2.72,2.08,4.8,4.8,4.8h54.399
                                                                    c2.721,0,4.801-2.08,4.801-4.8v-35.68C232,189.8,229.92,187.72,227.199,187.72z M178.08,229.8v-9.12c0-0.799,0.64-1.6,1.6-1.6h4
                                                                    v10.72H178.08z M192.48,229.8h-5.6v-10.72h4c0.96,0,1.6,0.801,1.6,1.6V229.8z M199.52,229.8h-3.68v-9.12
                                                                    c0-2.72-2.08-4.799-4.8-4.799h-11.2c-2.72,0-4.8,2.079-4.8,4.799v9.12h-2.24c-0.8,0-1.6-0.64-1.6-1.6v-54.4c0-0.96,0.8-1.6,1.6-1.6
                                                                    h25.12c0.8,0,1.6,0.64,1.6,1.6V229.8z M228.8,228.2c0,0.96-0.8,1.6-1.601,1.6H202.72v-38.88h24.479c0.801,0,1.601,0.8,1.601,1.601
                                                                    V228.2z" />
                                                <g>
                                                    <path d="M194.08,179.88h-17.6c-0.96,0-1.6-0.64-1.6-1.6s0.64-1.6,1.6-1.6h17.6c0.96,0,1.6,0.64,1.6,1.6
                                                                        S195.04,179.88,194.08,179.88z" />
                                                </g>
                                                <g>
                                                    <path d="M194.08,187.88h-17.6c-0.96,0-1.6-0.64-1.6-1.6s0.64-1.6,1.6-1.6h17.6c0.96,0,1.6,0.64,1.6,1.6
                                                                        S195.04,187.88,194.08,187.88z" />
                                                </g>
                                                <g>
                                                    <path d="M194.08,195.88h-17.6c-0.96,0-1.6-0.64-1.6-1.6s0.64-1.6,1.6-1.6h17.6c0.96,0,1.6,0.64,1.6,1.6
                                                                        S195.04,195.88,194.08,195.88z" />
                                                </g>
                                                <g>
                                                    <path d="M194.08,203.881h-17.6c-0.96,0-1.6-0.641-1.6-1.601s0.64-1.601,1.6-1.601h17.6c0.96,0,1.6,0.641,1.6,1.601
                                                                        S195.04,203.881,194.08,203.881z" />
                                                </g>
                                                <g>
                                                    <path d="M224.48,199.08H206.88c-0.96,0-1.601-0.64-1.601-1.6s0.641-1.6,1.601-1.6h17.601c0.96,0,1.6,0.64,1.6,1.6
                                                                        S225.44,199.08,224.48,199.08z" />
                                                </g>
                                                <g>
                                                    <path
                                                        d="M224.48,207.08H206.88c-0.96,0-1.601-0.641-1.601-1.6c0-0.961,0.641-1.6,1.601-1.6h17.601c0.96,0,1.6,0.639,1.6,1.6
                                                                        C226.08,206.439,225.44,207.08,224.48,207.08z" />
                                                </g>
                                                <g>
                                                    <path
                                                        d="M224.48,215.08H206.88c-0.96,0-1.601-0.641-1.601-1.6c0-0.961,0.641-1.6,1.601-1.6h17.601c0.96,0,1.6,0.639,1.6,1.6
                                                                        C226.08,214.439,225.44,215.08,224.48,215.08z" />
                                                </g>
                                            </svg>
                                        </i>
                                        <div class="media-body">
                                            <h4 class="media-title">UI/UX
                                                Designer, Google</h4>
                                            <p class="mb-1">7<sup>th</sup>Aug
                                                2017 to
                                                3<sup>rd</sup>Aug 2018, $45/hr
                                                to $50/hr</p>
                                            <p>For better opportunities</p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
<!-- content area end -->

{% endblock %}