<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   

    <title>attendance pdf</title>
    <style>
		table, td, th {
		padding: 10px;
		  border: 1px solid black;
		}

		table {
		  border-collapse: collapse;
		  width: 100%;
		}

		td {
		  text-align: center;
		}
</style>
  </head>

  <body>
  	<CENTER>
    	<p><h1>Khwopa Engineering College</h1></p>
    	<p><h3>Employee Attendance Sheet</h3></p>
    </CENTER> 

	<div class="container">
	    <div class="card">
	         	<p>Date :  {{dateIntable}}</p>
	            <b>Attendance record</b>
	             <br>No. of Present :<b>{{presentNum}}
	             <br></b>No. of Absent :<b> {{absentNum}}
	             <br></b>Total staffs :<b> {{activeTotal}}</b>
	            
	        
	    </div>
	    <br><br>


	    <div class="container">
	        <div class="row justify-content-center">
	            <div class="col-md-12">
	                    <table>
	                        <thead>
	                            <tr>
	                               <th>Name</th>
	                                <th>Employee Id</th>
	                                <th>Attendance</th>
	                                <th>Time</th>
	                            </tr>
	                        </thead>

	                        <tbody>
	                        {% for p_row in presentSql %}
	                        	{% for at_row in attendSql %}
	                        		{% if p_row.id == at_row.user_id%}
	                        		<tr>
	                        			<td>{{p_row.profile.name}}</td>
	                                    <td>{{p_row.username}}</td>
	                                    <td style="color: green; margin: 5px">
	                                        <h5>PRESENT</h5>
	                                    </td>
	                                    <td>{{at_row.time}}</td>
	                                </tr>
	                                 {% endif %}
	                            {% endfor %}
	                        {% endfor %}

	                        {% for a_row in absentSql %}
	                        <tr>
		                        <td>{{a_row.profile.name}}</td>
		                        <td>{{a_row.username}}</td>
		                        <td style="color: red; margin: 5px"><h5>ABSENT</h5></td>
		                        <td>----</td>
	                        </tr>
	                        {% endfor %}
	                        </tbody>
	                    </table>
	                
	            </div>
	        </div>
	    </div>
	</div>

    
  </body>
</html>