
{% extends "faceapp/base_layout.html" %}
{% block title %}Khec Attendance | Contact us{% endblock%}

{% block topbarTitle %}Dashboard > Contact Us{% endblock %}


{% block content %}  
{% load static %} 


			<div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <!-- <h4 class="page-title">About Us</h4> -->

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-md-6 col-xl-4">

                                <!-- Simple card -->
                                <div class="card">
                                    <img class="card-img-top img-fluid" src="{% static 'faceapp/images/admin/amar.jpg' %}" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">Name: Amar Nagaju</br>
                                        					Roll no: 730305</br>
                                        					Academic Programme: B.E. Computer</br>
                                        					College's Name: Khwopa Engineering College
                                        </h4>
                                    </div>
                                </div>

                            </div><!-- end col -->

                            <div class="col-md-6 col-xl-4">

                                <div class="card">
                                    <img class="card-img-top img-fluid" src="{% static 'faceapp/images/admin/anirudh.jpg' %}" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">Name: Anirudh Basukala</br>
                                        					Roll no: 730307</br>
                                        					Academic Programme: B.E. Computer</br>
                                        					College's Name: Khwopa Engineering College
                                        </h4>
                                        
                                    </div>
                                    
                                </div>

                            </div><!-- end col -->


                            <div class="col-md-6 col-xl-4">

                                <!-- Simple card -->
                                <div class="card">
                                    <img class="card-img-top img-fluid" src="{% static 'faceapp/images/admin/kharbuja.jpg' %}" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">Name: Manish Kharbuja</br>
                                        					Roll no: 730319</br>
                                        					Academic Programme: B.E. Computer</br>
                                        					College's Name: Khwopa Engineering College
                                        </h4>
                                        
                                    </div>
                                </div>

                            </div><!-- end col -->	
                        </div>


                        <div class="row">
                            <div class="col-md-6 col-xl-4">

                                <!-- Simple card -->
                                <div class="card">
                                    <img class="card-img-top img-fluid" src="{% static 'faceapp/images/admin/manish.jpg' %}" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">Name: Manish Nhuchhe</br>
                                        					Roll no: 730320</br>
                                        					Academic Programme: B.E. Computer</br>
                                        					College's Name: Khwopa Engineering College
                                        </h4>
                                        
                                    </div>
                                </div>

                            </div><!-- end col -->

                            <div class="col-md-6 col-xl-4">

                                <div class="card">
                                    <img class="card-img-top img-fluid" src="{% static 'faceapp/images/admin/sunder.png' %}" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">Name: Sunder Tamakhu</br>
                                        					Roll no: 730345</br>
                                        					Academic Programme: B.E. Computer</br>
                                        					College's Name: Khwopa Engineering College
                                        </h4>
                                    </div>
                                    
                                </div>

                            </div><!-- end col -->
                        </div>
                    </div>
                </div>
            </div>


{% endblock %}